---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/global/Navigation.astro";
import Faq from "../components/infopages/Faq.astro";
import Footer from "../components/global/Footer.astro";
import { AstroSeo } from "@astrolib/seo";
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->

<BaseLayout>
  <Navigation />
  <div class="container mx-auto p-10  py-10">
    <h1 class="text-4xl font-extrabold py-10">Privacy Policy</h1>
    <h2 class="text-3xl font-bold mb-8">About Salam Labs Inc.</h2>
    <p class="mb-4">Salam Labs Inc. is a registered corporation in Canada.</p>

    <h2 class="text-3xl font-bold mb-4 mt-12">What data do we collect?</h2>
    <p class="mb-4">Salam Labs respects everyone's right to privacy. The main reason this app exists is to provide a private and safe experience, and so Salam App does not collect any data whatsoever.</p>

    <h2 class="text-3xl font-bold mb-4 mt-12">Why do we need your location data?</h2>
    <p class="mb-4">Salam App will only request your location data for prayer time calculations. This is an optional feature; however, note that some features may be limited if disabled. Additionally, location data is only used locally (within your device), and no data is sent to Salam Labs. We recommend updating your location if needed to ensure that prayer time calculations are accurate as possible.</p>

    <h2 class="text-3xl font-bold mb-4 mt-12">Do we share data with Third Parties?</h2>
    <p class="mb-4">No. Salam App has no plans to incorporate third-party analytic tools for tracking or collecting user data. Additionally, there is no data retention/deletion policy as both Salam Labs and Salam App do not collect any data.</p>

    <h2 class="text-3xl font-bold mb-4 mt-12">What if there is an update to this policy?</h2>
    <p class="mb-4">Salam Labs has no plans to update or change our policy in any way that would harm the user. If for any reason there is an update to this policy, we will be explicit in what has changed and notify you the user, and any update will require you to both reviews and agree to the new privacy policy.</p>

    <h2 class="text-3xl font-bold mb-4 mt-12">Links to Other sites</h2>
    <p class="mb-4">If you click on a third-party link within the app, you will be directed to that site. Note that these external sites are not operated by us. We strongly advise you to review the Privacy Policies of these websites. We have no control over, nor do we assume responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

    <h2 class="text-3xl font-bold mb-4 mt-12">Contact Us</h2>
    <p class="mb-4">To get in touch with us, please email us at feedback@salamlabs.io</p>
  </div>
  <Footer/>
</BaseLayout>
