

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated">
  <head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Michael Andreuzza" />
<meta
  name="keywords"
  content="Salam Labs , salamlabs, salam, labs, salam labs, salam-labs,salamapp,salam.app,"
/>

<meta content="width=device-width" name="viewport" /><link
      href="/labs.webp"
      rel="icon"
      type="image/svg+xml"
    />

  <!-- HTML Meta Tags -->
  <title>Salam Labs is a non-profit Islamic software company</title>
  <meta name="description" content="Salam Labs : Making cools stuff since 2021 ">

  <!-- Normal Meta Tags -->
  <meta property="og:url" content="https://salamlabs.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Salam Labs : Making cools stuff since 2021">
  <meta property="og:description" content="Salam Labs is a non-profit Islamic software company made by the Muslims for the Muslims">
  <meta property="og:image" content="https://j-tau.vercel.app/labs_banner.webp">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="salamlabs.io">
  <meta property="twitter:url" content="https://salamlabs.io">
  <meta name="twitter:title" content="Salam Labs : Making cools stuff since 2021">
  <meta name="twitter:description" content="Salam Labs is a non-profit Islamic software company made by the Muslims for the Muslims">
  <meta name="twitter:image" content="https://j-tau.vercel.app/labs_banner.webp">
 <!-- HTML Meta Tags -->

 <!-- heigth width of og image 1200x630         -->
 <meta property="og:image:width" content="1200" />
 <meta property="og:image:height" content="630" />
 <!-- heigth widths of og image  -->
</head>

  <body class="">
    <slot />
  </body>
</html>
